<!DOCTYPE html>
<html ng-app="lobbyApp">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>STEP RAILWAY</title>
    <!--Favicon img-->
    <link rel="stylesheet" href="~/assets/css/ticket.css" />

    <link rel="shortcut icon" href="~/assets/img/logo/favicon.png">
    <!--nice select css-->
    <link rel="stylesheet" href="~/assets/css/nice-select.css">
    <!--datepicker css-->
    <link rel="stylesheet" href="~/assets/css/datepickerboot.css">
    <!--main css-->
    <link rel="stylesheet" href="~/assets/css/main.css">

    <script src="~/js/angular.min.js"> </script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap-tpls.min.js"></script>
    <script src="~/js/file.js"></script>


    <style>
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak, ng-cloak {
            display: none !important;
        }
    </style>
</head>

<body ng-controller="lobbyController" ng-init="init()" ng-cloak>

    <!-- Preloader Start Here -->
    <div class="preloader__wrap">
        <div class="preloader__box">
            <div class="circle">
                <img src="~/assets/img/preloader/preloader.png" alt="preloader">
            </div>
            <div class="recharge">
                <img src="~/assets/img/preloader/rechage.png" alt="rechage">
            </div>
            <span class="pretext">
                STEP RAILWAY
            </span>
        </div>
    </div>
    <!-- Preloader End Here -->

    <!-- Header For HomePage -->
    <section class="hotel__booksection train__booksection" ng-show="activeTab == webPages.Home">
        <header class="header-section">
            <div class="container">
                <div class="header-wrapper">
                    <div class="logo-menu">
                        <a ng-click="changeActiveTab(webPages.Home)" class="logo">
                            <img src="assets/img/logo/logo.png" alt="logo">
                        </a>
                        <a ng-click="changeActiveTab(webPages.Home)" class="small__logo d-xl-none">
                            <img src="assets/img/logo/favicon.png" alt="logo">
                        </a>
                    </div>
                    <div class="menu__right__components d-flex align-items-center">
                        <div class="sigup__grp d-lg-none">
                            <a  class="cmn__btn">
                                <span>
                                    ბილეთის შემოწმება/დაბრუნება
                                </span>
                            </a>
                        </div>
                        <div class="header-bar d-lg-none">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>

                    <div class="sigin__grp d-flex align-items-center" ng-click="changeActiveTab(webPages.CheckTicket)">
                        <a  class="cmn__btn">
                            <span>
                                ბილეთის შემოწმება/დაბრუნება
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </header>
        <div class="container">
            <div class="row">
                <div class="col-xxl-7 col-xl-7 col-lg-8">
                    <div class="hotel__content">
                        <h1 class="wow fadeInDown" data-wow-duration="2s">
                            Discover traveling the world by train
                        </h1>
                        <p class="wow fadeInUp max-636" data-wow-duration="2s">
                            There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration...
                        </p>
                        <div class="cmn__grp">
                            <a ng-click="changeActiveTab(webPages.TrainList)" class="cmn__btn">
                                <span>
                                    Explore deals
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="trainshpe">
            <img src="assets/img/train/trainthumb.png" alt="img">
        </div>
    </section>
    
    
    <!-- Header For Other Pages -->
    <header class="header-section" ng-hide="activeTab == webPages.Home">
        <div class="container">
            <div class="header-wrapper">
                <div class="logo-menu">
                    <a ng-click="changeActiveTab(webPages.Home)" class="logo">
                        <img src="~/assets/img/logo/logo.png" alt="logo">
                    </a>
                    <a ng-click="changeActiveTab(webPages.Home)" class="small__logo d-xl-none">
                        <img src="~/assets/img/logo/favicon.png" alt="logo">
                    </a>
                </div>
                <div class="menu__right__components d-flex align-items-center" ng-click="changeActiveTab(webPages.CheckTicket);">
                    <div class="sigup__grp d-lg-none">
                        <a  class="cmn__btn">
                            <span>
                                ბილეთის შემოწმება/დაბრუნება
                            </span>
                        </a>
                    </div>
                    <div class="header-bar d-lg-none">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
         
                <div class="sigin__grp d-flex align-items-center" ng-click="changeActiveTab(webPages.CheckTicket);">
                    <a  class="cmn__btn">
                        <span>
                            ბილეთის შემოწმება/დაბრუნება
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </header>

    <!--Partials-->
   
   
   
   
   
   

    <!--Partials-->

    <div ng-show="activeTab === webPages.Home" ng-cloak>
        @Html.Partial("_HomePage")
    </div>

    <div ng-show="activeTab === webPages.TrainList" ng-cloak>
        @Html.Partial("_TrainList")
    </div>

    <div ng-show="activeTab === webPages.TrainBooking" ng-cloak>
        @Html.Partial("_TrainBookingPage")
    </div>

    <div ng-show="activeTab === webPages.BookingDetails" ng-cloak>
        @Html.Partial("_BookingDetails")
    </div>

    <div ng-show="activeTab === webPages.PaymentDetails" ng-cloak>
        @Html.Partial("_PaymentDetails")
    </div>

    <div ng-show="activeTab === webPages.PaymentResult" ng-cloak>
        @Html.Partial("_PaymentResult")
    </div>

    <div ng-show="activeTab === webPages.CheckTicket" ng-cloak>
        @Html.Partial("_TicketStatus")
    </div>


    @*HomePage --> TrainList --> TrainBookingPage --> BookingDetails --> PaymentDetails --> PaymentResult*@



    <footer class="footer__section bgsection pt-120">
        <div class="container">
            <div class="footer__wrapper">
                <div class="footer__top pb-120">
                    <div class="row gy-5 gx-5">
                        <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6 col-sm-6 wow fadeInUp" data-wow-duration="1s">
                            <div class="footer__widget">
                                <div class="widget__head mb__20">
                                    <a ng-click="changeActiveTab(webPages.Home)" class="footer__logo">
                                        <img src="~/assets/img/logo/logo.png" alt="logo">
                                    </a>
                                </div>
                                <p class="pratext mb__20 fz-18">
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry...
                                </p>
                                <ul class="social d-flex gap-3">
                                    <li>
                                        <a href="javascript:void(0)" class="social__icon">
                                            <img src="~/assets/img/svg/facebook.svg" alt="svg">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)" class="social__icon">
                                            <img src="~/assets/img/svg/instagram.svg" alt="svg">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)" class="social__icon">
                                            <img src="~/assets/img/svg/twitter.svg" alt="svg">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)" class="social__icon">
                                            <img src="~/assets/img/svg/ball.svg" alt="svg">
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6 col-sm-6 wow fadeInUp" data-wow-duration="1.5s">
                            <div class="footer__widget">
                                <div class="widget__head mb__20">
                                    <h4 class="fz-24 pratext">
                                        Quick Links
                                    </h4>
                                </div>
                                <div class="widget__link">
                                    <a ng-click="changeActiveTab(webPages.Home)" class="link fz-18 pratext">
                                        Home
                                    </a>
                                    <a href="about.html" class="link fz-18 pratext">
                                        About
                                    </a>
                                    <a ng-click="changeActiveTab(webPages.Home)" class="link fz-18 pratext">
                                        Rechage & Bill Payment
                                    </a>
                                    <a href="booking-landing1.html" class="link fz-18 pratext">
                                        Booking
                                    </a>
                                    <a href="contact.html" class="link fz-18 pratext">
                                        Contact
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6 col-sm-6 wow fadeInUp" data-wow-duration="1.7s">
                            <div class="footer__widget">
                                <div class="widget__head mb__20">
                                    <h4 class="fz-24 pratext">
                                        Address
                                    </h4>
                                </div>
                                <div class="widget__link">
                                    <a href="javascript:void(0)" class="link fz-18 pratext">
                                        <span class="d-block">
                                            (480) 555-0103
                                        </span>
                                        <span>
                                            (406) 555-0120
                                        </span>
                                    </a>
                                    <a href="javascript:void(0)" class="link fz-18 pratext">
                                        <span class="d-block">
                                            <span class="__cf_email__" data-cfemail="9efafbfff0f0ffb0fdebeceaf7eddefbe6fff3eef2fbb0fdf1f3">[email&#160;protected]</span>
                                        </span>
                                        <span>
                                            <span class="__cf_email__" data-cfemail="96f2f3f4e4f7b8fef9fae2d6f3eef7fbe6faf3b8f5f9fb">[email&#160;protected]</span>
                                        </span>
                                    </a>
                                    <a href="javascript:void(0)" class="link fz-18 pratext">
                                        285 Great North Road, Grey Lynn, Auckland 1021
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6 col-sm-6 wow fadeInUp" data-wow-duration="1.9s">
                            <div class="footer__widget">
                                <div class="widget__head mb__20">
                                    <h4 class="fz-24 pratext">
                                        Newsletter
                                    </h4>
                                </div>
                                <div class="widget__link">
                                    <p class="fz-18 pratext mb__30">
                                        Subscribe our newsletter to get our latest update & news
                                    </p>
                                    <form action="javacript:void(0)" class="d-flex justify-content-between">
                                        <input type="email" placeholder="Your mail address">
                                        <button type="submit" class="cmn__btn">
                                            <span>
                                                <i class="material-symbols-outlined">
                                                    rocket_launch
                                                </i>
                                            </span>
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer__bottom d-flex">
                    <p class="fz-18 pratext">
                        Copyright &copy;2023 <a ng-click="changeActiveTab(webPages.Home)" class="base">Rechargio.</a> All Rights Reserved
                    </p>
                    <ul class="footer__bottom__link">
                        <li>
                            <a href="help-support.html">
                                Support
                            </a>
                        </li>
                        <li>
                            <a href="help-support.html">
                                Terms of Use
                            </a>
                        </li>
                        <li>
                            <a href="help.html">
                                Privacy Policy
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer End -->
















    <!--Jquery 3 6 0 Min Js-->
    <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
    <script src="~/assets/js/jquery-3.6.0.min.js"></script>
    <!--Bootstrap bundle Js-->
    <script src="~/assets/js/bootstrap.bundle.min.js"></script>
    <!--Viewport Jquery Js-->
    <script src="~/assets/js/viewport.jquery.js"></script>
    <!--Odometer min Js-->
    <script src="~/assets/js/odometer.min.js"></script>
    <!--date picker Js-->
    <script src="~/assets/js/bootstrap-datepicker.js"></script>
    <!--Magnifiw Popup Js-->
    <script src="~/assets/js/jquery.magnific-popup.min.js"></script>
    <!--nice select Js-->
    <script src="~/assets/js/jquery.nice-select.min.js"></script>
    <!--Wow min Js-->
    <script src="~/assets/js/wow.min.js"></script>
    <!--Owl carousel min Js-->
    <script src="~/assets/js/owl.carousel.min.js"></script>
    <!--Prijm Js-->
    <script src="~/assets/js/prism.js"></script>
    <!--main Js-->
    <script src="~/assets/js/jspdf.min.js"></script>
    <script src="~/assets/js/html2canvas.min.js"></script>
    <script src="~/assets/js/main.js"></script>




</body>

</html>