<!DOCTYPE html>
<html ng-app="lobbyApp">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>STEP RAILWAY</title>
    <!--Favicon img-->
    <link rel="stylesheet" href="~/assets/css/ticket.css" />

    <link rel="shortcut icon" href="~/assets/img/logo/favicon.png">
    <!--nice select css-->
    <link rel="stylesheet" href="~/assets/css/nice-select.css">
    <!--datepicker css-->
    <link rel="stylesheet" href="~/assets/css/datepickerboot.css">
    <!--main css-->
    <link rel="stylesheet" href="~/assets/css/main.css">

    <script src="~/js/angular.min.js"> </script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap-tpls.min.js"></script>
    <script src="~/js/file.js"></script>


    <style>
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak, ng-cloak {
            display: none !important;
        }
    </style>
</head>

<body ng-controller="lobbyController" ng-init="init()" ng-cloak>

    <!-- Preloader Start Here -->
    <div class="preloader__wrap">
        <div class="preloader__box">
            <div class="circle">
                <img src="~/assets/img/preloader/preloader.png" alt="preloader">
            </div>
            <div class="recharge">
                <img src="~/assets/img/preloader/rechage.png" alt="rechage">
            </div>
            <span class="pretext">
                STEP RAILWAY
            </span>
        </div>
    </div>
    <!-- Preloader End Here -->

    <!-- Header For HomePage -->
    <section class="hotel__booksection train__booksection" ng-show="activeTab == webPages.Home">
        <header class="header-section">
            <div class="container">
                <div class="header-wrapper">
                    <div class="logo-menu">
                        <a ng-click="changeActiveTab(webPages.Home)" class="logo">
                            <img src="assets/img/logo/logo.png" alt="logo">
                        </a>
                        <a ng-click="changeActiveTab(webPages.Home)" class="small__logo d-xl-none">
                            <img src="assets/img/logo/favicon.png" alt="logo">
                        </a>
                    </div>
                    <div class="menu__right__components d-flex align-items-center" ng-click="changeActiveTab(webPages.CheckTicket);">
                        <div class="sigup__grp d-lg-none">
                            <a  class="cmn__btn">
                                <span>
                                    ბილეთის შემოწმება/დაბრუნება
                                </span>
                            </a>
                        </div>
                    </div>

                    <div class="sigin__grp d-flex align-items-center" ng-click="changeActiveTab(webPages.CheckTicket)">
                        <a  class="cmn__btn">
                            <span>
                                ბილეთის შემოწმება/დაბრუნება
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </header>
        <div class="container">
            <div class="row">
                <div class="col-xxl-7 col-xl-7 col-lg-8">
                    <div class="hotel__content">
                        <h4 class="wow fadeInDown" data-wow-duration="2s">
                            შეიძინეთ მატარებლის ბილეთები ონლაინ
                        </h4>
                        <p class="wow fadeInUp max-636" data-wow-duration="2s">
                            გისურვებთ ბედნიერ მგზავრობას
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="trainshpe">
            <img src="assets/img/train/trainthumb.png" alt="img">
        </div>
    </section>
    
    
    <!-- Header For Other Pages -->
    <header class="header-section" ng-hide="activeTab == webPages.Home">
        <div class="container">
            <div class="header-wrapper">
                <div class="logo-menu">
                    <a ng-click="changeActiveTab(webPages.Home); resetData()" class="logo">
                        <img src="~/assets/img/logo/logo.png" alt="logo">
                    </a>
                    <a ng-click="changeActiveTab(webPages.Home)" class="small__logo d-xl-none">
                        <img src="~/assets/img/logo/favicon.png" alt="logo">
                    </a>
                </div>
                <div class="menu__right__components d-flex align-items-center" ng-click="changeActiveTab(webPages.CheckTicket);">
                    <div class="sigup__grp d-lg-none">
                        <a  class="cmn__btn">
                            <span>
                                ბილეთის შემოწმება/დაბრუნება
                            </span>
                        </a>
                    </div>
                </div>
         
                <div class="sigin__grp d-flex align-items-center" ng-click="changeActiveTab(webPages.CheckTicket);">
                    <a  class="cmn__btn">
                        <span>
                            ბილეთის შემოწმება/დაბრუნება
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </header>

    <!--Partials-->
   
   
   
   
   
   

    <!--Partials-->

    <div ng-show="activeTab === webPages.Home" ng-cloak>
        @Html.Partial("_HomePage")
    </div>

    <div ng-show="activeTab === webPages.TrainList" ng-cloak>
        @Html.Partial("_TrainList")
    </div>

    <div ng-show="activeTab === webPages.TrainBooking" ng-cloak>
        @Html.Partial("_TrainBookingPage")
    </div>

    <div ng-show="activeTab === webPages.BookingDetails" ng-cloak>
        @Html.Partial("_BookingDetails")
    </div>

    <div ng-show="activeTab === webPages.PaymentDetails" ng-cloak>
        @Html.Partial("_PaymentDetails")
    </div>

    <div ng-show="activeTab === webPages.PaymentResult" ng-cloak>
        @Html.Partial("_PaymentResult")
    </div>

    <div ng-show="activeTab === webPages.CheckTicket" ng-cloak>
        @Html.Partial("_TicketStatus")
    </div>


    @*HomePage --> TrainList --> TrainBookingPage --> BookingDetails --> PaymentDetails --> PaymentResult*@



    <footer class="footer__section bgsection pt-120">
        <div class="container">
            <div class="footer__wrapper">
                <div class="footer__bottom d-flex">
                    <p class="fz-18 pratext">
                        &copy;2023 <a ng-click="changeActiveTab(webPages.Home)" class="base">Step Railway.</a> ყველა უფლება დაცულია.
                    </p>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer End -->
















    <!--Jquery 3 6 0 Min Js-->
    <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
    <script src="~/assets/js/jquery-3.6.0.min.js"></script>
    <!--Bootstrap bundle Js-->
    <script src="~/assets/js/bootstrap.bundle.min.js"></script>
    <!--Viewport Jquery Js-->
    <script src="~/assets/js/viewport.jquery.js"></script>
    <!--Odometer min Js-->
    <script src="~/assets/js/odometer.min.js"></script>
    <!--date picker Js-->
    <script src="~/assets/js/bootstrap-datepicker.js"></script>
    <!--Magnifiw Popup Js-->
    <script src="~/assets/js/jquery.magnific-popup.min.js"></script>
    <!--nice select Js-->
    <script src="~/assets/js/jquery.nice-select.min.js"></script>
    <!--Wow min Js-->
    <script src="~/assets/js/wow.min.js"></script>
    <!--Owl carousel min Js-->
    <script src="~/assets/js/owl.carousel.min.js"></script>
    <!--Prijm Js-->
    <script src="~/assets/js/prism.js"></script>
    <!--main Js-->
    <script src="~/assets/js/jspdf.min.js"></script>
    <script src="~/assets/js/html2canvas.min.js"></script>
    <script src="~/assets/js/main.js"></script>

    <script>
        var today = new Date().toISOString().slice(0, 10);

        // Initialize the datepicker
        $("#datepicker").datepicker({
            format: "yyyy-mm-dd",
            startDate: today,
        });
    </script>


</body>

</html>